@import "tailwindcss";

/* SEMUA SCROLLBAR HILANG */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE lama (optional) */
* {
  -ms-overflow-style: none;
}